<p>book-search works!</p>
<form [formGroup]="SearchForm" (ngSubmit)="onSubmit()">
    <div>
        <input formControlName="query" type="text" [(ngModel)]="searchQuery" placeholder="Enter your search query">
    </div>
    <button type="submit" (click)="onSubmit()">Submit</button>

</form>
<div *ngFor="let book of books">
    <h2>Title: {{ book.title }}</h2>
    <p>Authors: {{ book.authors }}</p>
    <p>Description: {{ book.description }}</p>
</div>
<div class="search-results">
    <ul>
        <li *ngFor="let book of searchResults">
            {{ book.name }}
        </li>
    </ul>
    <p *ngIf="searchResults.length === 0">No results found.</p>
</div>