<div *ngFor="let book of books">
    <div class="container">
        <h2>Title: {{ book.title }}</h2>
        <div class="content">
            <div class="left-column">
                <p><b>Author(s):</b> {{ book.authors }}</p>
                <p><b>ISBN:</b> {{book.isbn}} </p>
                <p>{{ book.description }}</p>
            </div>
            <div class="right-column">
                <button class="button" (click)="onMove(book.id)">I've finished reading this!</button>
                <button class="button" (click)="onDelete(book.id)">Delete Book From List</button>
            </div>
        </div>
        <hr>
        <!-- <div>
            <p>Notes: {{book.notes}} </p>

            <form [formGroup]="notesForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input class="search-input" formControlName="notes" type="text" placeholder="Enter new notes...!">
                    <input type="hidden" formControlName="id" [value]="book.id">
                    <button class="search-button" type="submit">Submit</button>
                </div>
            </form>
        </div> -->
</div>

<p> Add some more books! </p>

